<h3>Translate<%= @locale %></h3>

<div class="row">
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-6" style="text-align: center; font-size: 16px;">
        ANSWERS IN <%= @locale.upcase %>
      </div>
      <div class="col-md-6" style="text-align: center; font-size: 16px;">
        TRANSLATED ANSWERS
      </div>
    </div>
    <br />

    <%= form_tag("/translator/submit", method: "post", id: 'translation_form', :class => 'form-inline', :role => 'form') do %>

        <% @answers.each do |a| %>

          <div class="row">
            <div class="col-md-6">
              <%= text_area_tag "answer_untranslated_" + a.id.to_s, a.text, :cols => 50, :rows => 8, :class => 'form-control', :disabled => :true %>
            </div>
            <div class="col-md-6">
              <%= text_area_tag "answer_" + a.id.to_s, "", :cols => 50, :rows => 8, :class => 'form-control' %>
            </div>
          </div>

          <br />
        <% end %>

        <%= hidden_field_tag 'entry', @entry.id %>
        <%= submit_tag 'Submit translation', class: "btn btn-lg btn-success", id: "submit_translation_button" %>

    <% end %>

  </div>
</div>

<script type="text/javascript">

$("#submit_translation_button").click(function() {
  $("#submit_translation_button").val("SUBMITTING TRANSLATION");
});

</script>
