<div class="ui steps">
  <% @sections.order('seq_no ASC').each do |s| %>
    <% if @section and s.name == @section.name %>
      <% if @page %>
        <% link_string = s.name %>
      <% else %>
      <% link_string = s.name %>
  <% end %>
  <div class="ui active step"><%= link_to( link_string, controller: 'sections', action: 'show', id: s.id ) %> </div>
  <% else %>
    <div class="ui step"><%= link_to( s.name, controller: 'sections', action: 'show', id: s.id ) %></div>
  <% end %>
<% end %>
<div class="ui <% if request.env['PATH_INFO'] == "/home/review_answers" %>active <% end %>step"><%= link_to( "Review", controller: 'home', action: 'review_answers' ) %></div>
</div>

<nav>
  <ul class="pagination pagination-lg">
    <% @section.pages.order('seq_no ASC').each do |p| %>
      <% if @page and @page.seq_no == p.seq_no %>
        <li class="active"><%= link_to( p.seq_no, controller: 'pages', action: 'show', id: p.id ) %></li>
      <% else %>
        <li><%= link_to( p.seq_no, controller: 'pages', action: 'show', id: p.id ) %></li>
      <% end %>
    <% end %>
  </ul>
</nav>
