<%= render "shared/tracker" %>

<h1>Review Answers</h1>
<br /><br />

<div class="row">
    <div class="col-md-6">
        <% @sections.order('seq_no ASC').each do |s| %>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title"><%= s.name %></h2>
            </div>
            <div class="panel-body">
                <% s.pages.order('seq_no ASC').each do |p| %>
                    <h4><%= p.name %> <span class='label label-default'><%= p.seq_no %> of <%= s.pages.length %></span></h4>
                <% @entry.get_page_answers(p).each do |a| %>
                  <% if a.class == FormText %>
                    <%= a.title %><br /><% if a.guidance %><%= a.guidance.html_safe %><br /><% end %>
                  <% else %>
                    <% if a.question.field_type != "checkbox" %>
                      <% if !a.text or a.text == "" %>
                        <%= link_to a.question.name, p, :class => "review_answer_missing" %>
                      <% else %>
                          <%= link_to a.question.name, p, :class => "review_answer" %><br />
                      <% end %>
                    <% end %>
                    <% if a.question.field_type == 'checkbox' %>
                      <% if a.text == a.question.checkbox_value %>
                        <%= check_box_tag a.question.name, a.question.name, true, data: { "completed" => "" } %>&nbsp;&nbsp;<%= a.question.name %><br />
                      <% else %>
                        <%= check_box_tag a.question.name, a.question.name, false %>&nbsp;&nbsp;<%= a.question.name %><br />
                      <% end %>
                    <% else %>
                        <%= a.text %><br />
                    <% end %>
                  <% end %>
            <% end %>
            <hr />
            <% end %>
            </div>
        </div>
    <% end %>
    </div>
</div>

<%= link_to('Submit application', { controller: 'home', action: 'submit'}, type: 'button', class:' btn btn-lg btn-success') %>

<br />
