<%= render "shared/tracker" %>

<h1>Review Answers</h1>
<br /><br />

<div class="row">
  <div class="col-md-6">
    <% @sections.order('seq_no ASC').each do |s| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= s.name %></h3>
        </div>
        <div class="panel-body">
            <% s.pages.order('seq_no ASC').each do |p| %>
              <h4>Page <%= p.seq_no %></h4>
              <hr>
              <% @entry.get_page_answers(p).each do |a| %>
                <strong><%= link_to a.question.name, p, :class => "review_answers_link" %></strong> <br />
                  <%= a.text %><br />
              <% end %>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<button type="button" class="btn btn-success btn-lg">
  <%= link_to('Submit application', controller: 'home', action: 'submit') %>
</button>

<br />
