<h1>What is the I-589?</h1>
<br /><br />
<table class="table">
    <tr>
        <td></td>
        <td>What it is</td>
        <td>What you need</td>
    </tr>
    <tr>
        <% @personal = Section.find_by(name: "Personal") %>
        <td><%= link_to("Personal", controller: 'sections', action: 'show', id: @personal.id) %></td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
    </tr>
    <tr>
        <% @family = Section.find_by(name: "Family") %>
        <td><%= link_to("Family", controller: 'sections', action: 'show', id: @family.id) %></td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
    </tr>
    <tr>
        <% @background = Section.find_by(name: "Background") %>
        <td><%= link_to("Background", controller: 'sections', action: 'show', id: @background.id) %></td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
    </tr>
    <tr>
        <% @asylum_application = Section.find_by(name: "Asylum Application") %>
        <td><%= link_to("Asylum Application", controller: 'sections', action: 'show', id: @asylum_application.id) %></td>
        <td>Lorem ipsum</td>
        <td>Lorem ipsum</td>
    </tr>
</table>

<br /><br />
<button type="button" class="btn btn-success btn-lg"><%= link_to 'Begin Application', controller: 'sections', action: 'show_seqno', seq_no: 1 %></button>
