<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Seq no:</strong>
  <%= @section.seq_no %>
</p>

<p>
  <strong>Guidance:</strong>
  <%= @section.guidance %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
