<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <ul class="nav nav-pills">
            <% @sections.each do |s| %>
                <% if s.name == @section.name %>
                    <li class="active"><a href="#"><%= s.name %></a></li>
                <% else %>
                    <li><a href="#"><%= s.name %></a></li>
                <% end %>
            <% end %>
        </ul>
    </div>
<br /><br />

<h1><%= @section.name %></h1>
<br /><br />
<%= @section.guidance %>
