<p id="notice"><%= notice %></p>

<%= render "shared/tracker" %>

Locale: <%= I18n.locale %>

<h1><%= t(@section.name) %></h1>
<br /><br />
<%= @section.guidance %>

<br /><br />

<%= render "shared/next" %>
