<p id="notice"><%= notice %></p>

<%= render "shared/tracker" %>

<h1><%= @section.name %></h1>
<br /><br />
<strong>Guidance: </strong><br />
<%= @section.guidance %>

<br /><br />

<%= render "shared/next" %>
