<p id="notice"><%= notice %></p>

<%= render "shared/tracker" %>

<div class="row">
  <div class="col-md-6">
    <h1><%= @section.name %></h1>
    <br /><br />
    <div class="section-guidance">
      <%=raw @section.guidance %>
    </div>
  </div>
</div>

<br /><br />

<%= render "shared/next" %>
