<p id="notice"><%= notice %></p>

<%= render "shared/tracker" %>

<h3><%= @page.name %></h3>

<p>
  <%= @page.guidance %>
</p>

<br />

<%= form_tag("/pages/submit", method: "post") do %>
  <% @page.questions.order('seq_no asc').each do |q| %>
    <%= q.name %><br />
    <% if q.field_type == "string" %>
      <%= text_field_tag "answer_" + q.id.to_s, q.answer_text %>
    <% elsif q.field_type == "checkbox" %>
      <%= check_box_tag "answer_" + q.id.to_s, q.answer_text %>
    <% elsif q.field_type == "date" %>
      <%= date_field_tag "answer_" + q.id.to_s, q.answer_text %>
    <% elsif q.field_type == "text" %>
      <%= text_area_tag "answer" + q.id.to_s, q.answer_text %>
    <% else %>
      Unknown type for question id = <%= q.id %>
    <% end %>
    <br /><br />
  <% end %>
  <%= hidden_field_tag 'page', @page.id %>
  <%= submit_tag 'save and continue' %>
<% end %>

<br /><br />
