<p id="notice"><%= notice %></p>

<div class="row">
  <%= render "shared/tracker_page" %>
</div>

<div class="row row-centered">
<div class="col-md-6 col-centered">

<h3 class="page_title"><%= @page.name %></h3>

<%= form_tag("/pages/submit", method: "post", id: 'form') do %>
  <% @page.elements.each do |q| %>
    <div class="row question" id="p<%= @page.seq_no %>_<%= q.seq_no %>">
      <div class="col-md-8">
        <% if q.class == FormText %>
          <%= tag("div", { data: q.validations, class: 'form_text' }, nil) %>
          <% if q.title != "" %><h3><%= q.title %></h3><% end %>
          <% if q.guidance %><%= q.guidance.html_safe %><% end %></div>
        <% else %>
          <% if q.field_type == "string" %>
            <div class="name"><%= q.name %></div>
              <%= text_field_tag "answer_" + q.id.to_s, q.answer_text, class: 'answer text_answer ans', data: q.validations, tabindex: (q.seq_no).to_s %>
          <% elsif q.field_type == "checkbox" %>
            <% if q.answer_text == q.checkbox_value %>
              <%= check_box("answer_" + q.id.to_s, q.answer_text, class: 'ans', :data => q.validations, :checked => true) %>
            <% else %>
              <%= check_box("answer_" + q.id.to_s, q.answer_text, class: 'ans', :data => q.validations) %>
            <% end %><span class="check_name"><%= q.name %></span>
          <% elsif q.field_type == "date" %>
            <div class="name"><%= q.name %></div>
            <%= date_field_tag "answer_" + q.id.to_s, q.answer_text, class: 'answer ans', data: q.validations %>
          <% elsif q.field_type == "text" %>
            <div class="name"><%= q.name %></div>
            <%= text_area_tag "answer_" + q.id.to_s, q.answer_text, class: 'text_answer ans', data: q.validations, tabindex: (q.seq_no).to_s, rows: "10", cols: "60" %>
          <% else %>
            Unknown type for question id = <%= q.id %>
        <% end %>
      <% end %>
    <% if q.class == Question and q.explanation != "" %>
        <div class="explanation <% if q.field_type != "string" and q.field_type != "text" %>show<% end %>" id="exp_<%= q.id.to_s %>"><%=raw q.explanation %></div>
    <% end %>
      </div>
    </div>
  <% end %>
  <%= hidden_field_tag 'page', @page.id %>
  <%= submit_tag 'save and continue', class: "btn btn-lg btn-success" %>
<% end %>
</div>

<div class="col-md-4">
  <!-- TODO: formatting -->
  <br >
<br /><br />

    <div class="guidance">
      <%= @page.guidance %>
    </div>
</div>

<div class="col-md-1">
</div>

</div>

<script type="text/javascript">
    var form_parsley = $('#form').parsley();

    $(".answer").focus(function() {
        var parent = $(this).parents('div.question');
        parent.addClass("focus");
        $(this).animate({
            width: "+=150",
            height: "+=15"
        });
        var id = $(this).attr('id').split("_")[1];
        var exp = "#exp_" + id;
        var height = $(exp).height() + 30;
        if ($(exp).length > 0) {
            parent.animate({
                height: "+=" + height,
                }, 500);
            $(exp).fadeIn(200);
        }
    });

    $(".answer").blur(function() {
        var parent = $(this).parents('div.question');
        parent.removeClass("focus");
        $(this).animate({
            width: "-=150",
            height: "-=15"
        });
        var id = $(this).attr('id').split("_")[1];
        var exp = "#exp_" + id;
        var height = $(exp).height() + 30;
        if ($(exp).length > 0) {
            parent.animate({
                height: "-=" + height,
            }, 500);
            $(exp).fadeOut(200);
        }
    });

    // LAST NAME VALIDATION
    var all_caps = $('.answer[data-allcaps="true"]').blur(function() {
        $(this).val($(this).val().toUpperCase()); 
    });

    // SHOW BASED ON DEPENDENCIES
    var to_hide = $(".ans[data-show-dep], .form_text[data-show-dep]");
    to_hide.each(function() {
      // CHECK CURRENT STATUS OF CHECKBOX
      var hide = this;
      var dep = $(this).data("show-dep");
      var box = $("#" + dep).children("div").children("input")[1];
      // only hide if box is unchecked
      if (!box.hasAttribute("checked"))
        $(this).parent().parent().hide();
      $("#" + dep + " input").change(function() {
        $(hide).parent().parent().fadeToggle();
      });
    });

    // HIDE BASED ON DEPENDENCIES
    var to_show = $(".ans[data-hide-dep], .form_text[data-hide-dep]");
    to_show.each(function() {
      var show = this;
      // $(this).parent().parent().show();
      var dep = $(this).data("hide-dep");
      $("#" + dep).change(function() {
        $(show).parent().parent().fadeToggle();
      });
    });

    // MUTUALLY EXCLUSIVE CHECKBOXES
    var mutexes = $("input[data-mutex]");
    mutexes.each(function() {
      var others = $(this).data("mutex");
      // on change, uncheck all others
      // issue with multiple change event handlers
      $(this).change(function() {
        var i = 0;
        for (i = 0; i < others.length; i++){
          var other = $("#" + others[i] + " input");
          other.prop('checked', false);
        }
      });
    });

</script>

<br /><br />
