<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <%= render "shared/tracker_page" %>
  </div>
</div>

<div class="row">
<div class="col-md-5">

<h3 class="page_title"><%= @page.name %></h3>

<%= form_tag("/pages/submit", method: "post", id: 'form') do %>
  <% @page.elements.each do |q| %>
    <div class="row question">
      <div class="col-md-8">
        <% if q.class == FormText %>
          <div class="form_text"><%= q.guidance %></div>
        <% else %>
          <div class="name"><%= q.name %></div>
          <% if q.field_type == "string" %>
              <%= text_field_tag "answer_" + q.id.to_s, q.answer_text, class: 'text_answer', data: q.validations %>
          <% elsif q.field_type == "checkbox" %>
            <%= check_box_tag "answer_" + q.id.to_s, q.answer_text, data: q.validations %>
          <% elsif q.field_type == "date" %>
            <%= date_field_tag "answer_" + q.id.to_s, q.answer_text, data: q.validations %>
          <% elsif q.field_type == "text" %>
            <%= text_area_tag "answer" + q.id.to_s, q.answer_text, class: 'text_answer', data: q.validations %>
          <% else %>
            Unknown type for question id = <%= q.id %>
        <% end %>
      <% end %>
      </div>
      <div class="col-md-4">
        <% if q.class == Question and q.explanation %>
            <div class="explanation <% if q.field_type != "string" and q.field_type != "text" %>show<% end %>" id="exp_<%= q.id.to_s %>"><%= q.explanation %></div>
        <% end %>
      </div>
    <br /><br />
    </div>
  <% end %>
  <%= hidden_field_tag 'page', @page.id %>
  <%= submit_tag 'save and continue', class: "btn btn-lg btn-success" %>
<% end %>
</div>

<div class="col-md-6">
  <!-- TODO: formatting -->
  <br >
<br /><br />

    <div class="guidance">
      <%= @page.guidance %>
    </div>
</div>

</div>

<script type="text/javascript">
    var form_parsley = $('#form').parsley();
    $(".text_answer").focus(function() {
        var id = $(this).attr('id').split("_")[1];
        var exp = "#exp_" + id;
        $(exp).fadeIn(200);
    });
    $(".text_answer").blur(function() {
        var id = $(this).attr('id').split("_")[1];
        var exp = "#exp_" + id;
        $(exp).fadeOut(200);
    });
</script>

<br /><br />
