<p id="notice"><%= notice %></p>

<%= render "shared/tracker" %>

<p>
  <strong>Name:</strong>
  <%= @page.name %>
</p>

<p>
  <strong>Guidance:</strong>
  <%= @page.guidance %>
</p>

<h3>Questions</h3>

<% @page.questions.each do |q| %>
  English Name: <%= q.name %><br />
  <% I18n.locale = :es %>
  Spanish Name: <%= q.name %><br />
  Type: <%= q.field_type %>
  <br />
<% end %>

<br /><br />

<%= render "shared/next" %>
